img#unicorn {
	z-index: 1000;
	position: fixed;
	left: 0%;
	bottom: 0%;
	height: 200px;
	width: 600px;
	-webkit-animation: move-patronus 4s;
}

@-webkit-keyframes move-patronus {
	from {left: -600px;}
	to {left: 100%;}
}

body {
	color: green;
}

.player  {
    display: none;
}

#avada_gif {
    margin-left: auto;
    margin-right: auto;
    width:100%
}